.combo-box-base:disabled,
.list-cell:disabled
{
    -fx-opacity: 1;
}

.non-editable {
    -fx-control-inner-background: #EEEEEE;
}

/* invalid row in table row */
/*.table-row-cell:invalid {
   -fx-border-color: red;
}*/
.invalid {
   -fx-border-color: red;
}

.tooltip{
    -fx-background-color: cornsilk;
    -fx-border-width:1;
    -fx-border-color: darkgray;
    -fx-background-radius: 1.0;
    -fx-text-fill: black;
    -fx-font-weight: normal;
    -fx-font-size: 12px;
}

/* used only by documents tree by the document view */
.tree-table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-text-fill: -fx-text-inner-color;
}
.tree-table-row-cell:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
}

.tree-table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, derive(-fx-control-inner-background,-5%);
    -fx-background-insets: 0, 0 0 1 0;
}

.tree-table-row-cell:selected:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
}