.combo-box-base:disabled,
.list-cell:disabled
{
    -fx-opacity: 1;
}

.non-editable {
    -fx-control-inner-background: #EEEEEE;
}

/* invalid row in table row */
.table-row-cell:invalid {
   -fx-border-color: red;
}

.tooltip{
    -fx-background-color: cornsilk;
    -fx-border-width:1;
    -fx-border-color: darkgray;
    -fx-background-radius: 1.0;
    -fx-text-fill: black;
    -fx-font-weight: normal;
    -fx-font-size: 12px;
}