.combo-box-base:disabled,
.list-cell:disabled
{
    -fx-opacity: 1;
}

.non-editable {
    -fx-control-inner-background: #EEEEEE;
}

/* invalid row in table row */
.table-row-cell:invalid {
   -fx-border-color: red;
}